@model ACF.Web.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

@section styles {
    <link rel="stylesheet" href="/assets/css/pages/page_log_reg_v1.css">
}

@section breadcrumbs {
    <div class="breadcrumbs margin-bottom-40">
        <div class="container">
            <h1 class="pull-left">Registration</h1>
        </div>
    </div><!--/breadcrumbs-->
}

<div class="row">
    <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">

        @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "reg-page" }))
        {
            <div class="reg-header">
                <h2>Register a new account</h2>
                <p>Already registered? Click @Html.ActionLink("here", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" }) to login your account.</p>
            </div>

            @Html.AntiForgeryToken()
            @Html.ValidationSummary()

            <div class="form-group">
                @Html.LabelFor(m => m.UserName, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.UserName, new { @type = "email", @class = "form-control" })
                @Html.ValidationMessageFor(m => m.UserName)
            </div>

            <div class="row">
                <div class="col-sm-6 form-group">
                    @Html.LabelFor(m => m.Password, new { @class = "control-label" })
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Password)
                </div>
                <div class="col-sm-6 form-group">
                    @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.ConfirmPassword)
                </div>
            </div>

            <hr>

            <div class="row">
                <div class="col-lg-8">
                    <label class="checkbox">
                        @Html.CheckBoxFor(m => m.AreTermsAccepted)
                        I have read the @Html.ActionLink("Terms and Conditions", "Terms", "Home")
                    </label>
                    @Html.ValidationMessageFor(m => m.AreTermsAccepted)
                </div>
                <div class="col-lg-4 text-right">
                    <button class="btn-u" type="submit">Register</button>
                </div>
            </div>
        }

        @section scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
    </div>
</div>