@using ACF.Web.Models;

@model ACF.Web.Models.RegisterViewModel
@{
    ViewBag.Title = "Subscribe";
}

@section styles {
    <link rel="stylesheet" href="/assets/css/pages/page_log_reg_v1.css">
}

@section breadcrumbs {
    <div class="breadcrumbs margin-bottom-40">
        <div class="container">
            <div class="row col-lg-12">
                <h1 class="pull-left">Subscribe</h1>
            </div>
            <div class="row col-lg-12">
                <p>Already subscribed? Click @Html.ActionLink("here", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" }) to login your account.</p>
            </div>
        </div>
    </div><!--/breadcrumbs-->
}

<div class="row">
    <div class="col-md-6">

        @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "reg-page" }))
        {
            <div class="headline">
                <h2>Create a new account</h2>
            </div>

            @Html.AntiForgeryToken()
            @Html.ValidationSummary()

            <div class="form-group">
                @Html.LabelFor(m => m.UserName, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.UserName, new { @type = "email", @class = "form-control" })
                @Html.ValidationMessageFor(m => m.UserName)
            </div>

            <div class="row">
                <div class="col-sm-6 form-group">
                    @Html.LabelFor(m => m.Password, new { @class = "control-label" })
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Password)
                </div>
                <div class="col-sm-6 form-group">
                    @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.ConfirmPassword)
                </div>
            </div>

            <hr>

            <div class="row">
                @*<div class="col-lg-8">
                        <label class="checkbox">
                            @Html.CheckBoxFor(m => m.AreTermsAccepted)
                            I have read the @Html.ActionLink("Terms and Conditions", "Terms", "Home")
                        </label>
                        @Html.ValidationMessageFor(m => m.AreTermsAccepted)
                    </div>*@
                <div class="col-lg-12 text-right">
                    <button class="btn-u" type="submit">Subscribe</button>
                </div>
            </div>
        }
    </div>
    <div class="col-md-6">
        @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginViewModel { Action = "ExternalLogin", ReturnUrl = "/Account/Register", Headline = "Use an existing social account" })
    </div>
</div>

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
}